/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

#chat
{

	overflow: auto;
}
#chat p
{
	font-family: 'Fauna One', serif;
	margin-bottom: 0 !important;
	line-height: 1.3;
	font-size: 0.9em;
	padding-left: 1em;
}
#makerInfo
{
	font-family: 'Press Start 2P', cursive;
}

#chat p:nth-of-type(odd)
{
	
}
#chatinInfo
{
	color: #6f6f6f;
	font-size: 0.9em;
}
#infoUser
{
	text-align: right;
}
.userDisplay
{
	color: #FF6B6B;
}
.otrosDisplay
{
	color: #4ECDC4;
}
.lastCheck
{
	color: #C7F464;
	font-size: 0.8em;
	font-weight: bold;
}
#actionLand
{
	background-color: #DDD;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top:thin solid #000;
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */


#chat::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#chat::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#chat::-webkit-scrollbar-thumb
{
	background-color: #000000;
}




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


